.m_lis .mint-indexlist-nav{background: none;border:0;}
.mint-indexlist-content li p{font-size:0.3rem;}
.mint-header .mint-header-button .check_all{font-size:0.3rem;}
.mint-indexlist-nav{border-left:none;background-color:rgba(255,255,255,0);bottom:0.8rem;}
.mint-searchbar{background-color:#fff;}
.mint-searchbar-inner{background-color:#f2f2f2;}
.mint-search{height:auto;}
.mint-searchbar-core{background-color:#f2f2f2;}
